.teste{
    border-top: 0px;
}

.form-control, .form-select-sm,.cor{
    border-color: aliceblue;
    background-color: #1C1C1C;
    color: aliceblue;
}

body{
    background: rgb(33,36,40);
    background: linear-gradient(0deg, rgba(33,36,40,1) 0%, rgba(19,19,22,1) 35%, rgba(9,10,18,1) 100%);
    background-size: 100%;
    background-repeat: repeat-y;
    overflow-x: hidden;
/* background-color: #0F0D0D ; */
} 

.table,fieldset,td,tr{
    color: aliceblue;
}

.vidro{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: aliceblue;
}